### Your task:

- Read data from **train.csv**  
Form new dataset from rows (houses) with high OverallQual (8,9,10) and following columns:  
'LotArea', 'YearBuilt', 'LotShape', 'HouseStyle', 'OverallCond', 'Heating', 'KitchenQual',   
'Functional', 'YearRemodAdd', 'GarageCars', 'GarageArea', 'GarageQual','GarageFinish','PoolArea',  
 'SalePrice'

- 
1) Find average price and count of house sold, grouping by YearBuilt (create dataset with these results)      
2) Create new column which reflects number of years since remodelling  
3) Transform column LotArea: square feet -> square meters  
4) Create new column which group LotArea into 3 bins: Small, Medium, Large (set thresholds of your choise)  
5) Are missing values in data? If so, fill them by some values

- Provide in-depth analysis of the dataset (find as many insights in data as possible ;))

In [16]:
import pandas as pd
import numpy as np
import random

In [28]:
data = pd.read_csv("train.csv")

In [18]:
raw_data = data[data.OverallQual > 8]
data1 = pd.DataFrame(raw_data, columns=['OverallQual', 'LotArea', 'YearBuilt', 'LotShape', 'HouseStyle', 'OverallCond', 'Heating', 'KitchenQual',
'Functional', 'YearRemodAdd', 'GarageCars', 'GarageArea', 'GarageQual','GarageFinish','PoolArea',
'SalePrice'])
data1

,OverallQual,LotArea,YearBuilt,LotShape,HouseStyle,OverallCond,Heating,KitchenQual,Functional,YearRemodAdd,GarageCars,GarageArea,GarageQual,GarageFinish,PoolArea,SalePrice
11,9,11924,2005,IR1,2Story,5,GasA,Ex,Typ,2006,3,736,TA,Fin,0,345000
34,9,7313,2005,Reg,1Story,5,GasA,Ex,Typ,2005,2,556,TA,Fin,0,277500
45,9,7658,2005,Reg,1Story,5,GasA,Ex,Typ,2005,2,576,TA,RFn,0,319900
53,9,50271,1981,IR1,1Story,5,GasA,Gd,Typ,1987,3,894,TA,Fin,0,385000
58,10,13682,2006,IR2,2Story,5,GasA,Gd,Typ,2006,3,641,TA,Fin,0,438780
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1313,9,14774,1999,IR1,2Story,5,GasA,Gd,Typ,1999,3,779,TA,Fin,0,333168
1359,9,16737,2004,Reg,1Story,5,GasA,Ex,Typ,2005,3,770,TA,Fin,0,315000
1373,10,11400,2001,Reg,1Story,5,GasA,Ex,Typ,2002,3,804,TA,RFn,0,466500
1388,9,14892,2006,IR1,1Story,5,GasA,Ex,Typ,2007,3,758,TA,Fin,0,377500
1442,10,11003,2008,Reg,2Story,5,GasA,Ex,Typ,2008,3,812,TA,Fin,0,310000

In [31]:
# (1) average price and amount of houses sold grouped by YearBuilt
avg = data1.groupby("YearBuilt").mean()
sold = data1.count()
avg

,OverallQual,LotArea,OverallCond,YearRemodAdd,GarageCars,GarageArea,PoolArea,SalePrice,AfterRemod
YearBuilt,,,,,,,,,
1892,10.000000,22950.000000,9.0,1993.000000,3.000000,840.000000,0.0,475000.000000,26.000000
1893,10.000000,13500.000000,9.0,2000.000000,2.000000,880.000000,0.0,325000.000000,19.000000
1981,9.000000,50271.000000,5.0,1987.000000,3.000000,894.000000,0.0,385000.000000,32.000000
1994,10.000000,21535.000000,6.0,1995.000000,3.000000,832.000000,0.0,755000.000000,24.000000
1995,10.000000,35760.000000,5.0,1996.000000,3.000000,807.000000,0.0,625000.000000,23.000000
1996,10.000000,15623.000000,5.0,1996.000000,3.000000,813.000000,555.0,745000.000000,23.000000
1999,9.000000,9946.500000,5.0,1999.500000,2.500000,642.500000,0.0,331034.000000,19.500000
2000,9.000000,11050.000000,5.0,2000.000000,3.000000,736.000000,0.0,313000.000000,19.000000
2001,10.000000,11400.000000,5.0,2002.000000,3.000000,804.000000,0.0,466500.000000,17.000000
2002,9.000000,11248.000000,5.0,2002.000000,3.000000,702.000000,0.0,285000.000000,17.000000
2003,9.250000,12846.000000,5.0,2003.750000,3.000000,819.000000,0.0,383187.500000,15.250000
2004,9.000000,13868.000000,5.0,2005.000000,3.000000,760.000000,0.0,330333.333333,14.000000
2005,9.000000,12198.250000,5.0,2005.750000,2.625000,648.250000,0.0,363070.125000,13.250000
2006,9.300000,13876.700000,5.0,2006.400000,2.900000,769.400000,0.0,371672.100000,12.600000
2007,9.375000,15624.000000,5.0,2007.625000,2.750000,840.375000,0.0,312890.500000,11.375000
2008,9.333333,17621.416667,5.0,2008.333333,2.833333,902.833333,40.0,403158.916667,10.666667
2009,9.250000,11121.250000,5.0,2009.500000,3.000000,701.000000,0.0,445147.000000,9.500000
2010,9.000000,11394.000000,2.0,2010.000000,3.000000,834.000000,0.0,394432.000000,9.000000

In [25]:
sold

OverallQual     61
LotArea         61
YearBuilt       61
LotShape        61
HouseStyle      61
OverallCond     61
Heating         61
KitchenQual     61
Functional      61
YearRemodAdd    61
GarageCars      61
GarageArea      61
GarageQual      61
GarageFinish    61
PoolArea        61
SalePrice       61
dtype: int64

In [29]:
# (2) creating new column with years since remodeling
data1["AfterRemod"] = 2019 - data1["YearRemodAdd"]
data1

,OverallQual,LotArea,YearBuilt,LotShape,HouseStyle,OverallCond,Heating,KitchenQual,Functional,YearRemodAdd,GarageCars,GarageArea,GarageQual,GarageFinish,PoolArea,SalePrice,AfterRemod
11,9,11924,2005,IR1,2Story,5,GasA,Ex,Typ,2006,3,736,TA,Fin,0,345000,13
34,9,7313,2005,Reg,1Story,5,GasA,Ex,Typ,2005,2,556,TA,Fin,0,277500,14
45,9,7658,2005,Reg,1Story,5,GasA,Ex,Typ,2005,2,576,TA,RFn,0,319900,14
53,9,50271,1981,IR1,1Story,5,GasA,Gd,Typ,1987,3,894,TA,Fin,0,385000,32
58,10,13682,2006,IR2,2Story,5,GasA,Gd,Typ,2006,3,641,TA,Fin,0,438780,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1313,9,14774,1999,IR1,2Story,5,GasA,Gd,Typ,1999,3,779,TA,Fin,0,333168,20
1359,9,16737,2004,Reg,1Story,5,GasA,Ex,Typ,2005,3,770,TA,Fin,0,315000,14
1373,10,11400,2001,Reg,1Story,5,GasA,Ex,Typ,2002,3,804,TA,RFn,0,466500,17
1388,9,14892,2006,IR1,1Story,5,GasA,Ex,Typ,2007,3,758,TA,Fin,0,377500,12
1442,10,11003,2008,Reg,2Story,5,GasA,Ex,Typ,2008,3,812,TA,Fin,0,310000,11

In [35]:
# (3) square feet --> square meters
data1["LotArea"] = (0.3048 * 0.3048) * data1.LotArea
data1

,OverallQual,LotArea,YearBuilt,LotShape,HouseStyle,OverallCond,Heating,KitchenQual,Functional,YearRemodAdd,GarageCars,GarageArea,GarageQual,GarageFinish,PoolArea,SalePrice,AfterRemod
11,9,102.915744,2005,IR1,2Story,5,GasA,Ex,Typ,2006,3,736,TA,Fin,0,345000,13
34,9,63.118319,2005,Reg,1Story,5,GasA,Ex,Typ,2005,2,556,TA,Fin,0,277500,14
45,9,66.096005,2005,Reg,1Story,5,GasA,Ex,Typ,2005,2,576,TA,RFn,0,319900,14
53,9,433.887736,1981,IR1,1Story,5,GasA,Gd,Typ,1987,3,894,TA,Fin,0,385000,32
58,10,118.088998,2006,IR2,2Story,5,GasA,Gd,Typ,2006,3,641,TA,Fin,0,438780,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1313,9,127.514022,1999,IR1,2Story,5,GasA,Gd,Typ,1999,3,779,TA,Fin,0,333168,20
1359,9,144.456626,2004,Reg,1Story,5,GasA,Ex,Typ,2005,3,770,TA,Fin,0,315000,14
1373,10,98.393113,2001,Reg,1Story,5,GasA,Ex,Typ,2002,3,804,TA,RFn,0,466500,17
1388,9,128.532477,2006,IR1,1Story,5,GasA,Ex,Typ,2007,3,758,TA,Fin,0,377500,12
1442,10,94.966616,2008,Reg,2Story,5,GasA,Ex,Typ,2008,3,812,TA,Fin,0,310000,11

In [50]:
# (4) grouping LotArea into 3 bins: Small (0-100), Medium (101-250) and Large(all others)
data1["LotAreaMore"] = data1.apply(lambda row: "Small" if ((row.LotArea>0) & (row.LotArea <= 100))
                                                else ("Medium" if ((row.LotArea>100) & (row.LotArea <= 250))
                                                               else "Large"), axis=1)

In [44]:
data1

,OverallQual,LotArea,YearBuilt,LotShape,HouseStyle,OverallCond,Heating,KitchenQual,Functional,YearRemodAdd,GarageCars,GarageArea,GarageQual,GarageFinish,PoolArea,SalePrice,AfterRemod,LotAreaMore
11,9,102.915744,2005,IR1,2Story,5,GasA,Ex,Typ,2006,3,736,TA,Fin,0,345000,13,Medium
34,9,63.118319,2005,Reg,1Story,5,GasA,Ex,Typ,2005,2,556,TA,Fin,0,277500,14,Small
45,9,66.096005,2005,Reg,1Story,5,GasA,Ex,Typ,2005,2,576,TA,RFn,0,319900,14,Small
53,9,433.887736,1981,IR1,1Story,5,GasA,Gd,Typ,1987,3,894,TA,Fin,0,385000,32,Large
58,10,118.088998,2006,IR2,2Story,5,GasA,Gd,Typ,2006,3,641,TA,Fin,0,438780,13,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1313,9,127.514022,1999,IR1,2Story,5,GasA,Gd,Typ,1999,3,779,TA,Fin,0,333168,20,Medium
1359,9,144.456626,2004,Reg,1Story,5,GasA,Ex,Typ,2005,3,770,TA,Fin,0,315000,14,Medium
1373,10,98.393113,2001,Reg,1Story,5,GasA,Ex,Typ,2002,3,804,TA,RFn,0,466500,17,Small
1388,9,128.532477,2006,IR1,1Story,5,GasA,Ex,Typ,2007,3,758,TA,Fin,0,377500,12,Medium
1442,10,94.966616,2008,Reg,2Story,5,GasA,Ex,Typ,2008,3,812,TA,Fin,0,310000,11,Small

In [45]:
# (5) filling NaN with some numbers
data1.fillna(100, inplace=True)

In [48]:
data1

,OverallQual,LotArea,YearBuilt,LotShape,HouseStyle,OverallCond,Heating,KitchenQual,Functional,YearRemodAdd,GarageCars,GarageArea,GarageQual,GarageFinish,PoolArea,SalePrice,AfterRemod,LotAreaMore
11,9,102.915744,2005,IR1,2Story,5,GasA,Ex,Typ,2006,3,736,TA,Fin,0,345000,13,Medium
34,9,63.118319,2005,Reg,1Story,5,GasA,Ex,Typ,2005,2,556,TA,Fin,0,277500,14,Small
45,9,66.096005,2005,Reg,1Story,5,GasA,Ex,Typ,2005,2,576,TA,RFn,0,319900,14,Small
53,9,433.887736,1981,IR1,1Story,5,GasA,Gd,Typ,1987,3,894,TA,Fin,0,385000,32,Large
58,10,118.088998,2006,IR2,2Story,5,GasA,Gd,Typ,2006,3,641,TA,Fin,0,438780,13,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1313,9,127.514022,1999,IR1,2Story,5,GasA,Gd,Typ,1999,3,779,TA,Fin,0,333168,20,Medium
1359,9,144.456626,2004,Reg,1Story,5,GasA,Ex,Typ,2005,3,770,TA,Fin,0,315000,14,Medium
1373,10,98.393113,2001,Reg,1Story,5,GasA,Ex,Typ,2002,3,804,TA,RFn,0,466500,17,Small
1388,9,128.532477,2006,IR1,1Story,5,GasA,Ex,Typ,2007,3,758,TA,Fin,0,377500,12,Medium
1442,10,94.966616,2008,Reg,2Story,5,GasA,Ex,Typ,2008,3,812,TA,Fin,0,310000,11,Small